<!DOCTYPE html>
<html>
  <head>
    <title>JustDoItApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->
  </head>

  <body>
    <% if logged_in? %>
      <%= form_tag '/session', method: :delete do %>
      <input type="hidden" class="id" data-id=<%= current_user.id%> >
        <nav class="login-nav">
          <p class="welcome-user">Welcome <span class="initial"><%= current_user.first_name %></span></p>
          <button class="logout-btn">Logout</button>
        </nav>
      <% end %>
    <% end %>


    <%= yield %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
