<!DOCTYPE html>
<html>
  <head>
    <title>Carpool - WDI Conference</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnfegNbS72iCu8bOXmBqI6ZOdEccgT5Bs&libraries=places"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <% if logged_in? %>
      <%= form_tag '/session', method: :delete do %>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home"><i class="fa fa-home" aria-hidden="true"></i> Car Pool</a>
            <p class="navbar-brand"><i class="fa fa-user" aria-hidden="true"></i> Loggedin as: <%= current_user.first_name %></p>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="navbar-form navbar-right">
              <input type="hidden" class="id" data-id=<%= current_user.id %> >
              <button type="submit" class="btn btn-default" class="logout-btn">Logout</button>
            </div>
          </div>
        </div>
      </nav>
    </div>
      <% end %>
    <% end %>

    <%= yield %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>
