<h1>Edit Account</h1>

<form action="/users/edit/<%= @user['id'] %>" method="post">
  <input type="hidden" name="_method" value="patch" />

  <label for="">First name</label>
  <input name="first_name" type="text" value="<%= @user['first_name'] %>">

  <label for="">Last name</label>
  <input name="last_name" type="text" value="<%= @user['last_name'] %>">

  <label for="">Email</label>
  <input type="text" name="email" value="<%= @user['email'] %>">

  <label for="">Password</label>
  <input type="password" name="password" value="<%= @user['password'] %>">

  <button>Update</button>
</form>
