
<a href="/cars/filter">Filter</a>

<% if @current_car != nil %>
<div>
  <h1>Current car selected</h1>
  <span>Driver:
    <%= @current_car.user.first_name %>
  </span>
  <span>Additional Details:
    <%= @current_car.description %>
  </span>
  <span>No. of Seat Available:
    <%= @current_car.seat_number - @current_car.passenger.length %>
  </span>
  <span>Meeting Place:
    <%= @current_car.meeting_point %>
  </span>
  <span>
    Smoker Friendly:
    <%= @current_car.smoker_friendly%>
  </span>
  <span>Date:
    <%= @current_car.date_time.strftime("%d-%B-%Y") %>
  </span>
  <span>Time:
    <%= @current_car.date_time.strftime("%I:%M%p") %>
  </span>
  <a href="/cars/unjoin">I change my mind</a>
</div>
<% end %>

<% @cars.each do |car|%>
  <div class="msg_container">
    <% if car.seat_number > car.passenger.length && car.user_id != current_user.id %>
          <div class="pass_bulletin">
            <a class="filter" href="/cars/filter">Filter</a>
            <br>
            <span class="driver">Driver:
              <%= car.user.first_name %>
            </span>
            <br>
            <span class="add_info">Additional Details:
              <%= car.description %>
            </span>
            <br>
            <span class="seats">Seats Available:
              <%= car.seat_number - car.passenger.length %>
            </span>
            <br>
            <span class="meet">Meeting Place:
              <%= car.meeting_point %>
            </span>
            <br>
            <span class="smoke">
              Smoker Friendly:
              <%= car.smoker_friendly%>
            </span>
            <br>
            <span class="date">Date:
              <%= car.date_time.strftime("%d-%B-%Y") %>
            </span>
            <br>
            <span class="time">Time:
              <%= car.date_time.strftime("%I:%M%p") %>
            </span>
            <br>
            <a href="/cars/join/<%= car.id %>">I want to join</a>
        </div>
    <% end %>
  </div>
<% end %>

<a href="/home">Back</a>

  <!-- <hr>
  <p class="curr_distant">You are currently <%= @distances[i] %> KM to meeting point</p>
  <hr>
  <form action="/map" method="get">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="meeting_point" value="<%=car.meeting_point%>">
    <input type="hidden" name="suburb" value="<%=car.suburb%>">
    <input type="text" name="user_address" placeholder="Please enter your address" value="">
    <button>Submit</button>
  </form>
  <hr>
  <% i += 1 %>
<% end %> -->

<a class="return" href="/home">Back</a>

<% my_url = "http://maps.google.com/maps/api/staticmap?size=1000x850&sensor=false&zoom=10" %>
<% @cars.each do |car| %>
<% my_url += "&markers=#{car.latitude}%2C#{car.longitude}" %>
<% end %>
<%= image_tag my_url %>
